@import "../../../styles/mixins/index.scss";

.product-counter-design {
  align-items: center;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;

  .counter {
    align-items: center;
    display: flex;
    height: 23px;
    justify-content: center;
    background-color: #e9e9e9;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    width: 24px;
  }

  .action-button {
    align-items: center;
    display: flex;
    height: 23px;
    justify-content: center;
    width: 24px;
    color: #707070;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #6edbd5;
      color: #fff;
      transition: 0.3s ease-in-out;
    }
    i {
      font-size: 12px;
    }
  }
}
