@import '../../../../styles/mixins/index.scss';

.topbar {
    padding: 7px 0;
    border-bottom: 1px solid #eee;

    span {
        display: block;
        font-size: 14px;
        line-height: 20px;
        color: #555;
        text-align: center;
        font-weight: 500;

        @include breakpoint("sm-max") {
            font-size: 12px;
        }
    }
}