@import "../../../../styles/mixins/index.scss";

header {
  padding: 16px 0;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  z-index: 9;
  position: sticky;
  top: 0;
  .header-alignment {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint("sm-max") {
      display: grid;
      grid-template-columns: repeat(1 , 1fr);
      gap: 16px;
    }

    .search {
      width: 500px;
      position: relative;

      @include breakpoint("md-max") {
        width: 350px;
      }

      @include breakpoint("sm-max" ) {
        width: 100%;
      }
      .search-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 14px;
      }

      input {
        border: 1px solid #eee;
        height: 40px;
        width: 100%;
        border-radius: 4px;
        padding: 0 20px;
        font-size: 16px;
        line-height: 20px;
        color: #222;
        font-family: "Work Sans", sans-serif;
        transition: 0.3s ease-in-out;

        &:focus {
          border: 1px solid #6edbd5;
          transition: 0.3s ease-in-out;
          outline: none;
        }
      }

      ::placeholder {
        font-size: 16px;
        line-height: 20px;
        color: #555;
      }
    }

    .other-content {
      p {
        font-size: 14px;
        color: #222;
        font-weight: 500;
        line-height: 20px;
        margin: 0;
      }

      .cart-icon-text {
        display: flex;
        align-items: center;
        gap: 14px;
      }

      .relative-div {
        position: relative;
        img {
          width: 30px;
        }

        .edge {
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          height: 16px;
          justify-content: center;
          position: absolute;
          right: -8px;
          color: #fff;
          font-size: 12px;
          align-items: center;
          font-weight: 600;
          background-color: #6edbd5;
          top: -5px;
          width: 16px;
        }
      }
    }

    .logo {
      @include breakpoint("sm-max") {
        text-align: center;
      }
      span {
        display: block;
        cursor: pointer;
        color: #6edbd5;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}
