@import '../../../styles/mixins/index.scss';

.modal-blur {
    position: fixed;
    top: 0;
    background-color: rgb(0,0,0,.5);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.moda-md {
    width: 1280px;
    max-height: calc(100vh - 20px);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , 0);
    background-color: #fff;
    z-index: 9999;
    border-radius: 20px 20px 0 0;
    overflow: auto;
    @include breakpoint("md-max") {
        width: calc(100% - 40px);
    border-radius: 10px 10px 0 0;
    height: calc(100vh - 50px);
    }

    &.hide {
        transform: translate(-50% , 100%);
        transition: .3s ease-in-out;
    }
    &.show {
        transform: translate(-50% , 0%);
        transition: .3s ease-in-out;
    }

    .modal-body {
        padding: 40px;

        @include breakpoint("md-max") {
            padding: 20px;
        }

        .grid {
            display: grid;
            grid-template-columns: 520px 1fr;
            gap: 60px;

            @include breakpoint("md-max") {
                grid-template-columns: repeat(1 , 1fr);
                gap: 40px;
            }

            .image-grid {
                display: grid;
                padding: 20px 40px;
                grid-template-columns: repeat(4 , 1fr);
                gap: 20px;  

                @include breakpoint("md-max") {
                    padding: 20px;
                }
                img {
                    width: 80%;
                    height: 100%;
                }
            }

            .counter-details {
                padding: 0 0 20px 0;
            }

            .add-to-cart {
                button {
                    background-color: #6edbd5;
                    padding: 12px 24px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #fff;
                    border-radius: 4px;
                    font-weight: 600;
                    border: none;
                }
            }

            .two-text {
                display: flex;
                padding: 0 0 20px 0;
                align-items: center;
                gap: 20px;
                p {
                    font-size: 16px;
                    line-height: 20px;
                    color: #000;

                    span {
                    color: #6edbd5;

                    }
                }
            }

            .text-style {
                padding: 0 0 20px 0;
                h2 {
                    font-size: 32px;
                    font-weight: 600;
                    color: #050505;
                    max-width: 80%;
                    margin: 0 0 20px 0;

                    @include breakpoint("md-max") {
                        font-size: 20px;
                        line-height: 30px;
                        max-width: 100%;
                    }
                }

                h4 {
                    color: #6edbd5;
                    font-size: 24px;
                    font-weight: 600;
                }

                p {
                    font-size: 18px;
                    line-height: 24px;
                    color: #777;
                    font-weight: 400;
                    margin: 0 0 20px 0;
                }
            }

            .grid-items:nth-child(1) {
            

                .lg-image {
                    padding: 40px;
                    border: 1px solid #eee;

                    @include breakpoint("md-max") {
                        padding: 20px;
                    }
                    @include breakpoint("sm-max") {
                        padding: 20px;
                    }
                    img {
                        object-fit: contain;
                        object-position: top;
                        width: 100%;

                        @include breakpoint("md-max") {
                            height: 400px;
                        }
                        @include breakpoint("sm-max") {
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    .modal-header {
        padding: 30px;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        position: sticky;
        top: 0;
        z-index: 99;

        @include breakpoint("md-max") {
            padding: 20px;
        }
        i {
            font-size: 20px;
            color: #555;
            cursor: pointer;

            @include breakpoint("sm-amx") {
                font-size: 16px;
            }
        }
        
        span {
            display: block;
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;

            @include breakpoint("md-max" ) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}