@import "../../../../styles/mixins/index.scss";

.single-product {
  border: 1px solid #eee;
  padding: 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:hover {
    transform: translate(0 , -3px);
    border: 1px solid #6edbd5;
    transition: .3s ease-in-out;
  }

  .card-image {
    text-align: center;
    img {
      max-height: 220px;
      max-width: 180px;
      object-fit: cover;
    }
  }

  .card-details {
    padding: 16px 0 0 0;

    .button-group-alignment {
        display: flex;
        padding: 14px 0 0 0;
        align-items: center;
        justify-content: space-between;

        button {
          padding: 6px 20px;
          background-color: #6edbd5;
          color: #fff;
          font-size: 14px;
          line-height: 20px;
          border-radius: 4px;
          font-weight: 500;
          border: none;
        }
    }

    h5 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        color: #050505;
        span {
            font-weight: 600;
            color: #6edbd5;
        }
    }

    p {
        font-size: 14px;
        line-height: 20px;
        margin: 10px 0;
        color: #7a7a7a;
        font-weight: 400;
    }

    h6 {
        font-size: 16px;
        line-height: 22px;
        color: #000;
        font-weight: 500;
    }
  }
}
