@import "../../../styles/mixins/index.scss";

.your-cart-all-details-alignment {
  padding: 80px 0;

  .title {
    padding: 0 0 20px 0;
    h1 {
      font-size: 32px;
      color: #050505;
      font-weight: 500;
      @include breakpoint("sm-max") {
        font-size: 24px;
        line-height: 32px;
    }
    }
  }

  .sub-text {
    padding: 0 0 20px 0;    
    span {
        display: block;
        font-size: 16px;
        color: #555;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 0;

    @include breakpoint("sm-max") {
        grid-template-columns: repeat(1 , 1fr);
    }

    .total-amount {
        padding: 20px 0 0 0;    
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-size: 18px;
            color: #555;
            font-weight: 600;

            &.green {
                color: #6edbd5;
            }
        }
    }
  }
}
